$theme-red: #F55B56;
$secondary-theme-red: #F78986;

.theme-red {
    color: $theme-red;
}

$theme-yellow: #FAC775;

$theme-page-background-color-gray: #fafafa;

$theme-green: #25a276;

/* button colors */
$button-font-gray: #333;
$button-background-gray: #eaeaea;
$button-background-gray-hover: #eee;

/* button border, button background on hover */
$button-border-gray: #ddd;

$clickable-inactive-border-gray: #ddd;
$clickable-active-border-gray: #aaa;
