<ul class='price-drop-carousel'>
    {% for p in products %}
    <li class='item'>
        <img src={{ p.image_url }}>
        <div class='product-name'>
            <span class='previous-price'>${{ p.previous_price }}</span>
            <span class='current-price'>${{ p.current_price }}</span>
            <sub class='price-trend'>
                {% if p.price_trend == 'up' %}
                <i class='fa fa-long-arrow-alt-up'></i>
                {% elif p.price_trend == 'down' %}
                <i class='fa fa-long-arrow-alt-down'></i>
                {% else %}
                <i class='fa fa-minus'></i>
                {% endif %}
            </sub>
        </div>
        <div class='product-name'>{{ p.name }}</div>
    </li>
    {% endfor %}
</ul>
